<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forum.dao.CommentMapper">
    <insert id="addComment">
        insert into Comment(text, post_id, u_id, publish_datetime)
        values (#{text}, #{postId}, #{uId}, #{publishDatetime})
    </insert>

    <update id="updateComment">
        update Comment
        set text             = #{text},
            publish_datetime = #{publishDatetime}
        where c_id = #{cId}
    </update>

    <delete id="deleteComment">
        delete
        from Comment
        where c_id = #{cId}
    </delete>

    <delete id="deleteCommentByPostId">
        delete
        from Comment
        where post_id = #{postId}
    </delete>

    <select id="queryByCId" resultMap="CommentResultMap">
        select c_id, text, post_id, u.u_id as u_id, publish_datetime, u_name
        from Comment c
                 join User u on c.u_id = u.u_id
        where c_id = #{cId}
    </select>

    <resultMap id="CommentResultMap" type="forum.pojo.resp.CommentResp">
        <result property="cId" column="c_id"/>
        <result property="text" column="text"/>
        <result property="postId" column="post_id"/>
        <result property="publishDatetime" column="publish_datetime"/>
        <association property="user" column="u_id" select="forum.dao.UserMapper.getUserById"/>
        <collection property="replyComments" column="c_id" javaType="List" ofType="ReplyComment"
                    select="forum.dao.ReplyCommentMapper.queryReplyCommentsByCId"/>
    </resultMap>

    <select id="queryCommentsByPostId" resultMap="CommentResultMap">
        select c_id, text, post_id, u.u_id as u_id, publish_datetime, u_name
        from Comment c,
             User u
        where post_id = #{postId}
          and c.u_id = u.u_id
    </select>

    <select id="queryCommentsByUId" resultMap="CommentResultMap">
        select c_id, text, post_id, u.u_id as u_id, publish_datetime, u_name
        from Comment c,
             User u
        where u.u_id = #{uId}
          and c.u_id = u.u_id
    </select>
</mapper>